/* normalize */
body,div,dl,dt,dd,ul,ol,li,h1,h2,pre,p { margin:0; padding:0; }
img { border:0; }
cite,code { font-style:normal; font-weight:normal; }
h1,h2 { font-size:100%; font-weight:normal; }
/* end normalize*/

h2 { font-family: 'Sanchez', serif; margin-top: 16px; color: #404854; font-size: 2em }

p { padding: 5px 5px 5px 20px; line-height: 23px; }
body { font-family: 'Bitstream Vera Sans', sans-serif; font-size: 14px; color: #212121; background-color: #fff9f0 }

ul, ol { margin-left:4em; }
li { padding:0.2em;}
#container { width: 960px; margin: 0 auto; }

header { padding: 20px 50px 15px 50px; border-bottom: dotted #212121 3px; margin-bottom: 16px }
header #logo { width: 600px; height: 150px; }
header #uni { float: right; margin: -16px 0; font-style: italic; color: #545454; }
header p { height: 0 }

nav { position: absolute; top: 0; right: 0 }
nav ul { list-style-type: none; padding: 0; margin: 0 }
nav ul li { display: block; float: left; text-align: center; margin: 0 6px }
nav ul li a { display: block; padding: 0.75em 0.5em }
nav ul li a:hover { position: relative; top: -1px }

a:link, a:visited {color: #264e87; text-decoration: none;}
a:active, a:hover {color: #264e87; text-decoration: underline;}

iframe { display: block; margin: 0 auto }

blockquote header { padding: 0; border: 0; text-align: left; font-size: 14px;}
blockquote h2 { font-family: 'Bistream Vera Sans', sans-serif; font-weight: bold; font-size: 14px; display: inline; padding: 0; margin: 0;}
blockquote .aside { font-style: italic; font-size: 0.8em; margin-bottom: 1em;}
cite { font-style: italic; }

dl { margin: 0 3em; }
dt { font-weight: bold }
dd { margin-left: 2em }

#server_list, #calendar_links { font-size: 0.8em }

.infobox { width: 66%; clear: both; margin-top: 15px; margin-bottom: 32px; /*border: 1px solid #000*/ }
.infobox h2 { margin-top: 0 }
.alternate { float: right; text-align: right }

#posts { padding-bottom: 12px; border-bottom: 1px solid black }
.entries, .entries li { list-style-type: none; margin-left: 0.5em; padding-left: 0 }
.entries a { font-weight: bold }
.entries p { margin-left: 0; padding-left: 0 }
.meta { font-style: italic; font-size: 0.8em; color: #777 }
.pages { list-style-type: none; margin-left: 0; padding-left: 0 }
.pages li { display: inline }
.pages li.active { font-weight: bold }

/* Why can't CSS make "I want a footer at the bottom of my page" easy? */
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#stupid-end-marker { padding-bottom: 3em; }
footer { clear: both; position: relative; height: 3em; margin-top: -3em; padding: 0 32px }
footer h2 { font-size: 1em }

code { font-family: Inconsolata, monospace; font-size: 13px }
.noticebox { padding: 1em; margin: 0 10em; border: 1px solid #545454; background-color: #dfc9bc; text-align: center }

.important { text-align: center; font-weight: bold; }

/* Fonts */
@font-face {
  font-family: 'Bitstream Vera Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Bitstream Vera Sans'), url(/BitstreamVeraSans.ttf) format('ttf');
}
