{% extends "base.html.jinja2" %}

{% block title %} About Us {% endblock title %}

{% block body%}
  <blockquote>
    <header>
      <h2>hacker [n.]</h2>
    </header>

    <ol>
      <li>(RFC 1392) a person who delights in having an intimate understanding of the internal workings of a system, computers and computer networks in particular.</li>
      <li>(apocryphal) someone who makes furniture with an axe.</li>
    </ol>
  </blockquote>

  <p><strong>HackSoc</strong> is the University of York's Computer Science society. We run a healthy mix of academic and social events (see the calendar on the main page), including weekly social events in our Discord server. If any of our events sound interesting to you, great! Feel free to just turn up to anything that catches your eye. If you'd like regular updates on what's happening in HackSoc, don't forget to sign up to our mailing list or follow us on Twitter!</p>

  <p>Look out for our posters in the Computer Science department.</p>

  <p>We're available through email, IRC, and Twitter! We also have a mailing list which we use for announcements, such as our weekly email.</p>

  <dl>
    <dt>Email (Society Account)</dt>
    <dd><a href="mailto:hack@yusu.org">hack@yusu.org</a></dd>

    <dt>Email (Mailing List)</dt>
    <dd><a href="{{ mailing_list_signup }}">Subscribe</a></dd>

    <dt>Slack</dt>
    <dd><a href="https://hacksoc-york.slack.com">Join our Slack</a> with your york.ac.uk address</dd>
    <dt>IRC</dt>
    <dd><a href="https://web.libera.chat/?channel=#hacksoc">#hacksoc on irc.libera.chat</a></dd>

    <dt>Twitter</dt>
    <dd><a href="https://twitter.com/HackSoc">@HackSoc</a></dd>
  </dl>

  <h2>Committee</h2>

  <p>The HackSoc committee consists of a Chair, Secretary, and Treasurer who must all be students, furthermore, there is a Social Secretary, Academic Events Officer, Press and Publicity Officer, Infrastructure Officer, and 3 Ordinary Members.</p>

  <dl>
    <dt>Chair</dt>
    <dd>Ash Holland, fourth year computer science undergraduate</dd>

    <dt>Secretary (position jointly held)</dt>
    <dd>Iris Scoffin, second year computer science undergraduate</dd>
    <dd>Marks Polakovs, computer science undergraduate, currently on year in industry</dd>

    <dt>Treasurer</dt>
    <dd>Morgan McKay, third year computer science and maths undergraduate</dd>

    <dt>Social Secretary</dt>
    <dd>C Lloyd, computer science undergraduate, currently on leave of absence</dd>

    <dt>Press and Publicity (position jointly held)</dt>
    <dd>Clara Hohenlohe, third year computer science undergraduate</dd>
    <dd>Jessica Russell, third year computer science undergraduate</dd>

    <dt>Academic Events Officer</dt>
    <dd>Aaron Christiansen, third year computer science undergraduate</dd>
    
    <dt>Infrastructure Officer</dt>
    <dd>Ezekiel Bethel, fourth year physics undergraduate</dd>

    <dt>Ordinary Members</dt>
    <dd>Dominik Hagowski, first year computer science undergraduate</dd>
    <dd>Daniel Allinson, computer science undergraduate, currently on year in industry</dd>
    <dd>Jamie Quigley, fourth year computer science undergraduate</dd>
    
  </dl>
{% endblock body %}
