{% extends "base.html.jinja2" %}

{% block stylesheets %}
    <link href="{{url_for('.static', filename='calendar.css')}}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block body %}

    {% include "calendar.html.jinja2" %}

    {% import "newslist.html.jinja2" as newslist %}

    <p id="calendar_links">
    <strong>Subscribe:</strong>
    <a href="https://calendar.google.com/calendar/ical/yusu.org_h8uou2ovt1c6gg87q5g758tsvs%40group.calendar.google.com/public/basic.ics">ical</a> &middot;
    <a href="https://calendar.google.com/calendar/embed?src=yusu.org_h8uou2ovt1c6gg87q5g758tsvs%40group.calendar.google.com&ctz=Europe/London">html</a>
    </p>

    <div class="important">
    <h2>Sign Up</h2>
    <p><a href="https://forms.gle/cAsNCVFFiRdjVvif9">Subscribe to the mailing list</a></p>
    <p>Become a member <a href="https://yusu.org/activities/view/hacksoc">online</a>. All events are open to non-members too!</p>
    </div>

    {{ newslist.newslist(link=True, count=10) }}

    {# also TODO put these in context.yaml and add a Handlebars helper #}
    <div class="infobox">
    <h2>Virtual Games and Cake</h2>
    <p>Join us in adapting our age-old Boardgames and Cake to a virtual setting in our Discord server, where we check in with each other and play games including Jackbox and Uno! Unfortunately, we can't bring and share cake, but we can make our own and post them on Slack.</p>
    </div>

    <div class="infobox">
    <h2>Movie Nights</h2>
    <p>We hop on Discord together and watch a film (or several). Apparently some of these might have a link to Computer Science, but we haven't spotted one yet.</p>
    </div>

    <div class="infobox">
    <h2>Talks</h2>
    <p>In which we watch a YouTube premiere of someone who knows way too much about a very niche topic speaking about said topic. We then head over to Discord for a Q&amp;A session. We aim for a healthy balance of members, alumni and industry speakers.</p>
    </div>

    <div class="infobox">
    <h2>Virtual HackTogether</h2>
    <p>Various nerds get together on Discord to discuss how their week has been, as well as any interesting things they've been working on during the week. This is a great opportunity to get to know the members of HackSoc.</p>
    </div>

    <script src="/static/js/calendar.js"></script>

{% endblock body %}