{% extends "base.html.jinja2" %}

{% block title %}Chat platforms{% endblock title %}

{% block body %}
  <div class="noticebox">
    <h2>Want to join HackSoc? A good place to start is joining the chat!</h2>
    <p>Before joining, please read our <a href="{{url_for('.render_page', page='coc')}}">Code of Conduct</a>. If you want to know more about how we use our chat platforms, read through the Guidelines and Conventions on the same page.</p>
    <h3>Discord</h3>
    <p>Our primary chat platform is Discord. You can join using <a href="https://discord.gg/Kmnw2a7TTq">this link</a>.</p>
    <h3>IRC</h3>
    <p>We have an IRC channel, connected to our Discord's #general channel. You can join the chat using Libera Chat's <a href="https://web.libera.chat/?channel=#hacksoc">webchat</a> (<strong>#hacksoc</strong> on <strong>irc.libera.chat</strong>).</p>
  </div>

  <p>Our chat system of choice is Discord. However, we've kept the option of using our old IRC channel too. Note that while the IRC channel is bridged to Discord, there are other channels that are only on Discord, and <strong>you'll miss out on most of the conversation if you're not on there</strong>.</p>
  <p>IRC, or Internet Relay Chat, is a protocol with a long and glorious history stretching back into the mists of time. It's a pretty simple system for online chatrooms, and you don't even need a special program to connect to it, although they do exist.</p>

  <ol>
    <li>You don't need a special program: see the <a href="https://web.libera.chat/?channel=#hacksoc">webchat</a></li>

    <li>You don't talk to individuals on a contact list, you join channels: a group of people talking about the same topic.</li>

    <li>When you start up a client you'll have to connect to a server and channel. We use <strong>#hacksoc</strong> on <strong>irc.libera.chat</strong></li>

    <li>You can change your name with <code>/nick new_name</code>, and join a new channel with <code>/join #channel_name</code></li>
  </ol>

  <p>There is also the #cs-york channel, also on <a href="https://web.libera.chat/?channel=#cs-york">on Libera Chat</a>. This is not HackSoc's channel, but it is a great place to chat about CS stuff. Many HackSoc members also hang around there.</p>
{% endblock body %}
