{% extends "base.html.jinja2" %}

{% block title %}Slack and IRC{% endblock title %}

{% block body %}
  <div class="noticebox">
    <h2>Want to join HackSoc? A good place to start is joining the chat!</h2>
    <p>Before joining, please read our <a href="/coc.html">Code of Conduct</a>. If you want to know more about how we use our chat platforms, read through the Guidelines and Conventions on the same page.</p>
    <h3>Slack</h3>
    <p>You can join the chat <a href="https://hacksoc-york.slack.com/signup">on Slack</a> with your @york.ac.uk email address. Or email <a href="mailto:hack@yusu.org">hack@yusu.org</a> to request access.</p>
    <h3>IRC</h3>
    <p>We have an IRC channel, connected to Slack. You can join the chat using Libera Chat's <a href="https://web.libera.chat/?channel=#hacksoc">webchat</a> (<strong>#hacksoc</strong> on <strong>irc.libera.chat</strong>).</p>
    <h3>Discord</h3>
    <p>We also have a Discord server, used mostly for events, but a small number of channels are bridged from Slack. You can join using <a href="https://discord.gg/BFJDdyU">this link</a>.</p>
  </div>

  <p>Our chat system of choice is Slack. It's easy to use, fully-featured and modern. However, we've kept the option of using IRC by connecting our Slack channel to our IRC channel, and we have a Discord server set up in a similar way. Note that, whilst a couple of channels are bridged between Discord, IRC, and Slack, there are plenty that aren't, and <strong>you'll miss out on most of the conversation if you're not on Slack</strong>.</p>
  <p>IRC, or Internet Relay Chat, is a protocol with a long and glorious history stretching back into the mists of time. It's a pretty simple system for online chatrooms, and you don't even need a special program to connect to it, although they do exist.</p>

  <ol>
    <li>You don't need a special program: see the <a href="https://web.libera.chat/?channel=#hacksoc">webchat</a></li>

    <li>You don't talk to individuals on a contact list, you join channels: a group of people talking about the same topic.</li>

    <li>When you start up a client you'll have to connect to a server and channel. We use <strong>#hacksoc</strong> on <strong>irc.libera.chat</strong></li>

    <li>You can change your name with <code>/nick new_name</code>, and join a new channel with <code>/join #channel_name</code></li>
  </ol>

  <p>There is also the #cs-york channel, also on <a href="https://web.libera.chat/?channel=#cs-york">on Libera Chat</a>. This is not HackSoc's channel, but it is a great place to chat about CS stuff. Many HackSoc members also hang around there.</p>

  <p>Our Discord server is mostly used for virtual events; you can join using <a href="https://discord.gg/BFJDdyU">this link</a> (there's also an invite link in the topic of #general in Slack).</p>
{% endblock body %}