{% extends "base.html.jinja2" %}

{% block title %}Minutes{% endblock title %}

{% block body %}



<h2>Constitution</h2>
<p>
    The society Constitution can be found <strong><a href="https://github.com/HackSoc/constitution/blob/master/Constitution.md">here</a></strong>, and appendices can be found <strong><a href="https://github.com/HackSoc/constitution/tree/master/appendices">here</a></strong>
</p>

<h2>Minutes</h2>

{% if listing %}
<p>
    Click on the titles to expand a preview of minutes. Click [pdf] to download or open the full minutes in a new tab.
</p>

{% for committee, minutes in listing.items() %}
    {% if loop.first %}
        <details open>
    {% else %}
        <details>
    {% endif %}
        <summary><h3>
            {{committee}}
            {% if loop.first %}(current){% endif %}
        </h3></summary>
        <ul class="minutes">
            {% for item in minutes %}
            <li>
                <a href="javascript:void()" onclick="this.parentElement.classList.toggle('open')">{{item.date}} <strong>{{item.meeting}}</strong></a>
                [<a href="{{item.url}}" target="#">pdf</a>]
                <div class="hidden">
                    <iframe src="{{item.url}}"></iframe>
                </div>
            </li>
            {% endfor %}
        </ul>
    </details>
{% endfor %}

{% else %}
<p class="minutes-help">No minutes to display</p>
{% endif %}

{% endblock body %}