{{{calendar}}}

<p id="calendar_links">
  <strong>Subscribe:</strong>
  <a href="https://calendar.google.com/calendar/ical/yusu.org_h8uou2ovt1c6gg87q5g758tsvs%40group.calendar.google.com/public/basic.ics">ical</a> &middot;
  <a href="https://calendar.google.com/calendar/embed?src=yusu.org_h8uou2ovt1c6gg87q5g758tsvs%40group.calendar.google.com&ctz=Europe/London">html</a>
</p>

<div class="important">
  <h2>Sign Up</h2>
  <p><a href="https://forms.gle/w3ptCJ1tS64oDhvh9">Subscribe to the mailing list</a></p>
  <p>Pay in person or <a href="https://yusu.org/activities/view/hacksoc">online</a>. All events are open to non-members too!</p>
</div>

{{{newslist}}}

{{!-- also TODO put these in context.yaml and add a Handlebars helper --}}
<div class="infobox">
  <h2>Boardgames and Cake</h2>
  <p>In one of the oldest and noblest traditions of HackSoc, we descend upon a room, play many boardgames, and eat much cake. Both boardgames and cake are brought along by members, so if you do enjoy the events, please consider bringing something along.</p>
</div>

<div class="infobox">
  <h2>CoffeeScript</h2>
  <p>An unprecedented case of joviality and camaraderie has struck HackSoc, and we have responded with a weekly social over in the Glasshouse on Hes East. Come for lunch, a chat, and maybe a small game or two.</p>
</div>

<div class="infobox">
  <h2>HackPub</h2>
  <p>Another tradition with a long and glorious history, the humble HackPub, in which we visit the Rook and Gaskill near Walmgate and converse late into the night with members <strong>past</strong> and present about high culture, politics, and how old jet engines work over a pint (of something non-alcoholic, if you so desire).</p>
</div>

<div class="infobox">
  <h2>Movie Nights</h2>
  <p>We gather together to watch a film (or sometimes several). Apparently some of these might have a link to Computer Science, but we haven't spotted one yet.</p>
</div>

<div class="infobox">
  <h2>Talks</h2>
  <p>In which we sit in a room en masse and listen to someone who knows way too much about a very niche topic. We aim for a healthy balance of members, alumni and industry speakers.</p>
</div>

<script src="/static/js/calendar.js"></script>