<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

{% if page.title %}
    <title>{{page.title}} - HackSoc - the computer science society</title>
{% else %}
    <title>HackSoc - the computer science society</title>
{% endif %}

    <link href="//fonts.googleapis.com/css?family=Rokkitt:400,700|Sanchez|Inconsolata:400,700" rel="stylesheet" type="text/css">
    <link href="{{site.url}}style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <header>
        <h1><a href="{{site.url}}" title="HackSoc"><img src="{{site.url}}logo.png" id="logo" alt="HackSoc: the computer science society"></a></h1>
        <nav>
          <ul>
            <li><a href="{{site.url}}about.html">about us</a></li>
            <li><a href="//www.github.com/hacksoc/">github</a></li>
            <li><a href="{{site.url}}irc.html">irc</a></li>
            <li><a href="//twitter.com/HackSoc">twitter</a></li>
            <li><a href="//www.facebook.com/groups/hacksoc">facebook</a></li>
          </ul>
        </nav>

        <p id="server_list">
          <strong>Servers:</strong>
          <a href="http://runciman.hacksoc.org">runciman</a> &middot;
          <a href="http://klaxon.hacksoc.org">klaxon</a>
        </p>

        <p id="uni">At the University of York</p>
      </header>

      {{content}}

      <div id="stupid-end-marker"></div>
    </div>

    <footer>
      <h2>Sponsored by</h2>
      <a href="//www.bytemark.co.uk/r/hacksoc" title="Bytemark Hosting">
        <img src="/images/bytemark.png" alt="Bytemark Hosting">
      </a>
    </footer>
  </body>
</html>
